h1,h3 {
    text-align: center;
    margin-top: 20px;
}

p{
    margin-left: 50px;
    margin-right: 50px;
}
img {
    height: 250px;
    width: 550px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.nav{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: medium;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    flex-shrink: 0;
}
.men{
    margin-left: 50px;
    margin-right: 50px;
    font-size: large;
}
.comming {
    text-align: center;
}

.yue{
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.loc-caption:before {
    content: attr(title);
    display: block;
}

.team-ul {
    text-align: center;
    padding: 0;
}

.team-li {
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

.team-li img {
    height: 200px;
    width: 220px;


}
